html, body {
  background: #f8f8f8;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
  font-size: 2em;
  font-weight: bold;
}

input {
  width: 200px;
  font-size: 1.5em;
  padding: 0.5em;
}
